:root {
    --clr-hsl-cyan: 177, 68%, 64%;
    --clr-hsl-orange: 12, 94%, 65%;
    --clr-hsl-yellow: 33, 100%, 70%;
    --clr-hsl-white: 20, 33%, 98%;
    --clr-hsl-black: 244, 23%, 12%;

    /* Typography */
    --ff-body: 'IBM Plex Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-xs: 1rem;
    --fs-s: 1.125rem;
    --fs-m: 1.25rem;
    --fs-xm: 2rem;
    --fs-l: 2.5rem;
    --fs-xl: 4rem;
    --fs-xxl: 5.5rem;

    --fs-span-price: 4.0625rem;
    --fs-price: var(--fs-m);
    --fs-button: var(--fs-s);
    --fs-footer-p: var(--fs-xs);

    /* Others */

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 2.25rem;
    --spacing-xxxl: 2.5rem;

    --brd-radius: 0.75rem;
    --promo-bg-img: url(starter-code/assets/bg-pattern-2.svg);

    /* Responsive */

    /* Resp - Layout */
    --grid-sml-columns: 1.5rem;
    --grid-big-column:
        min(100% - (var(--grid-sml-columns)*2), 69.375rem);
    --body-padding-top: 2.5rem;
    --body-padding-bottom: 5rem;
    --header-width: 100%;
    --top-logo-to-tittle: 4rem;
    --tittle-padding-bottom: 1.25rem;
    --header-p-to-promo: 4.25rem;
    --promo-to-footer: 4rem;
    --promo-height: 64rem;
    --promo-grid-column: 1/-1;
    --card-padding-block: 3rem;
    --card-padding-inline: 2.25rem;
    --card-title-padding-bottom: 0.75rem;
    --card-height: 34.125rem;
    --promo-app-width-responsive: 55.6%;
    --footer-p-width: 100%;

    --promo-row-1: 6.125rem;
    --promo-row-2: 37.5rem;
    --promo-row-3: 20.375rem;

    --promo-app-width: 13rem;
    --promo-app-translate: 5rem;
    --promo-card-width: 100%;
    --promo-card-height: 34.125rem;
    --promo-card-translate: 0rem;

    --bg-image: url(starter-code/assets/bg-main-mobile.png);

    /* Resp - FS */
    --fs-title: 2.5rem;
    --fs-header-p: 1rem;
    --fs-card-title: 2rem;
    --fs-card-p: 1.125rem;

}

body {
    display: grid;
    place-content: center;
    grid-template-columns: var(--grid-sml-columns) var(--grid-big-column) var(--grid-sml-columns);
    padding-top: var(--body-padding-top);
    padding-bottom: var(--body-padding-bottom);
    font-family: var(--ff-body);
    background-image: var(--bg-image);
    background-repeat: no-repeat;
}

.header,
.promo,
.footer {
    grid-column: 2/3;
}

.header_title,
.header_p {
    max-width: var(--header-width);
}

.header>.logo {
    padding-bottom: var(--top-logo-to-tittle);
}

.header_title {
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    line-height: 100%;
    letter-spacing: -0.455px;
    padding-bottom: var(--tittle-padding-bottom);
}

.header_p {
    font-size: var(--fs-header-p);
    padding-bottom: var(--header-p-to-promo);
}

.promo {
    height: var(--promo-height);
    grid-column: var(--promo-grid-column);
    display: grid;
    place-content: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows:
        var(--promo-row-1) var(--promo-row-2) var(--promo-row-3);

}

.promo_bg {
    grid-column: 1/-1;
    grid-row: 2/3;
    background-color: hsla(var(--clr-hsl-black), 1);
    border-radius: var(--brd-radius);
    background-image: var(--promo-bg-img);
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
}

.promo_app {
    grid-column: 1/-1;
    transform: translateX(5rem);
    grid-row: 1/3;
    max-width: var(--promo-app-width);
    z-index: 2;
}

.promo_card {
    grid-column: 1/-1;
    justify-self: end;
    align-self: end;
    /* Justify/ align-self: last baseline; - not working in Safari */
    transform: translateX(var(--promo-card-translate));
    max-width: var(--promo-card-width);
    grid-row: 2/4;
    z-index: 3;
    background-color: hsla(var(--clr-hsl-orange), 1);
    border-radius: var(--brd-radius);
    display: grid;
    padding-inline: var(--card-padding-inline);
    padding-block: var(--card-padding-block);
    color: hsla(var(--clr-hsl-white), 1);
    max-height: var(--promo-card-height);
}

.promo_card_title {
    font-size: var(--fs-card-title);
    font-weight: var(--fw-bold);
    line-height: 2.5rem;
    align-self: center;
    padding-bottom: var(--card-title-padding-bottom);
}

.promo_card_p {
    font-size: var(--fs-card-p);
    width: 100%;
}

.promo_card_price {
    font-size: var(--fs-price);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.price_span {
    font-size: var(--fs-span-price);
    font-weight: var(--fw-bold);
}

.button {
    border: none;
    border-radius: var(--brd-radius);
    padding-block: 0.9375rem;
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.ios {
    background-color: hsla(var(--clr-hsl-black), 1);
    color: hsla(var(--clr-hsl-white), 1);
    margin-bottom: 1rem;
}

.ios::before {
    content: "";
    background-image: url("starter-code/assets/icon-apple.svg");
    width: 17.08px;
    height: 20px;
    transform: translateY(-1px);
}

.android::before {
    content: "";
    background-image: url("starter-code/assets/icon-android.svg");
    width: 17.08px;
    height: 20px;
}


.ios:is(:hover, :focus) {
    background-color: hsla(var(--clr-hsl-cyan), 1);
}

.android:is(:hover, :focus) {
    background-color: hsla(var(--clr-hsl-yellow), 1);
}

.footer {
    padding-top: var(--promo-to-footer);
    display: flex;
    flex-direction: column;
}

.footer>.logo {
    padding-bottom: 2rem;
}

.flex_group {
    display: flex;
    flex-direction: column;
    gap: 4rem;

}

.footer_p {
    font-size: var(--fs-footer-p);
    max-width: var(--footer-p-width);
}

.footer_p_span {
    font-weight: var(--fw-bold);
}


.footer_icons {
    display: flex;
    gap: 1rem;
    fill: hsla(var(--clr-hsl-black), 1);
    align-items: center;
}

svg:is(:hover, :focus) {
    fill: hsla(var(--clr-hsl-orange), 1);
}


@media (min-width:40rem) and (max-width: 69.3125rem) {
    :root {
        --grid-sml-columns: 2rem;
        --body-padding-top: 3.875rem;
        --body-padding-bottom: 5.3125rem;
        --header-width: 74%;
        --top-logo-to-tittle: 5.9375rem;
        --tittle-padding-bottom: 1.625rem;
        --header-p-to-promo: 6.9375rem;
        --promo-to-footer: 5.4375rem;
        --promo-height: 52.125rem;
        --promo-grid-column: 2/3;
        --card-padding-inline: 3rem;
        --promo-app-width-responsive: 38%;
        --footer-p-width: 22.875rem;
        --promo-row-1: 8.625rem;
        --promo-row-3: 6rem;
        --promo-app-width: 16.875rem;
        --promo-app-translate: 4rem;
        --promo-card-width: 25rem;
        --promo-card-translate: -3.625rem;


        --fs-title: 4rem;
        --fs-header-p: 1.125rem;

        --bg-image: url(starter-code/assets/bg-main-tablet.png);
    }

    .flex_group {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .header {
        background-image: url("starter-code/assets/bg-pattern-1.svg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 13.5rem;
    }


}

@media (min-width: 69.375rem) {
    :root {
        --grid-sml-columns: 2rem;

        --body-padding-top: 3.875rem;
        --body-padding-bottom: 8.625rem;
        --header-width: 54rem;
        --top-logo-to-tittle: 7.9375rem;
        --tittle-padding-bottom: 2.5rem;
        --header-p-to-promo: 6.9375rem;
        --promo-to-footer: 5.4375rem;
        --promo-height: 58rem;
        --promo-grid-column: 2/3;
        --card-padding-block: 3.625rem;
        --card-padding-inline: 3.375rem;
        --card-title-padding-bottom: 1.375rem;
        --card-height: 39.0625rem;
        --promo-app-width-responsive: 25%;
        --footer-p-width: 22.875rem;
        --promo-row-1: 13.3125rem;
        --promo-row-3: 7.1875rem;
        --promo-app-width: 17.5rem;
        --promo-app-translate: 7.375rem;
        --promo-card-width: 27.875rem;
        --promo-card-height: 39.0625rem;
        --promo-card-translate: -5.9375rem;


        --fs-title: 5.5rem;
        --fs-header-p: 1.25rem;
        --fs-card-title: 2.5rem;
        --fs-card-p: 1.25rem;

        --bg-image: url(starter-code/assets/bg-main-desktop.png);
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .flex_group {
        flex-direction: row;
        justify-content: space-between;
        gap: 22.5rem;
    }

    .header {
        background-image: url("starter-code/assets/bg-pattern-1.svg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 14rem;
    }

}