:root {
    /* Colors */
    --clr-hsl-cyan: 177, 68%, 64%;
    --clr-hsl-orange: 12, 94%, 65%;
    --clr-hsl-yellow: 33, 100%, 70%;
    --clr-hsl-white: 20, 33%, 98%;
    --clr-hsl-black: 244, 23%, 12%;

    /* Typography */
    --ff-body: 'IBM Plex Sans', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-xs: 1rem;
    --fs-s: 1.125rem;
    --fs-m: 1.25rem;
    --fs-xm: 2rem;
    --fs-l: 2.5rem;
    --fs-xl: 4rem;
    --fs-xxl: 5.5rem;

    /* Others */

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 2.25rem;
    --spacing-xxxl: 2.5rem;

    --brd-radius: 0.75rem;

    /* Responsive */
    --hero-pading-inline-responsive: 1.5rem;
    --logo-padding-top-responsive: 2.5rem;
    --logo-padding-bottom-responsive: 4rem;
    --title-padding-bottom-responsive: 1.25rem;
    --hero-p-padding-bottom-responsive: 10.375rem;
    --promo-title-padding-bottom-responsive: 0.75rem;
    --promo-p-padding-bottom-responsive: 2.25rem;

    --fs-tittle-responsive: 2.5rem;
    --fs-hero-p-responsive: 1rem;
    --fs-promo-title-responsive: 2rem;
    --fs-promo-p-responsive: 1.125rem;

    --promo-bg-responsove: url(assets/bg-pattern-2.svg);



    /* Desktop */

    /* [Resp] Padding inline (logo/title/1st P) - 165px */
    /* [Resp] Padding inline (orange card) unvalid */
    /* [Resp] (Not in Mobile) Padding inline Black card - 165px */
    /* [Resp] Padding Top to Logo 62px */
    /* [Resp] Padding Logo to Title 127px */
    /* [Resp] Title to 1st P 40px */
    /* [Resp] 1st P to Black Card - 321px */
    /* Black Card Height - 600px */
    /* [Resp] Orange Card - Top Padding 58px */
    /* [Resp] Orange Card side Padding - 58px */
    /* [Resp] Orange Card - Title to 2nd P - 22px */
    /* [Resp] Orange Card - 2nd P to Price - 39px */
    /* [Resp] Orange Card - Price to IOS button - 46px */
    /* Orange Card - IOS to Android Button - 16px */
    /* Button - Text to Logo - 8px */
    /* Button - Padding top/bottom 15px */
    /* Button to Orange Card bottom - 48px */
    /* Orange(Black Card) Card to Bottom Logo - 183px */
    /* Bottom Logo to 3rd P -  202px Layout Switch */
    /* 3rd P to SocMedia -  Layout Switch */
    /* SocMedia to Bottom - Layout Switch */
    /* [Resp] 3rd P to Bottom -  91px */

    /* [Resp] FS Title - 88px */
    /* [Resp] FS 1st P -  20px */
    /* [Resp] FS Orange Card Title - 40px */
    /* [Resp] FS 2nd P - 20px */
    /* FS Span - 65px */
    /* FS "month" - 20px */
    /* FS Button - 18px */
    /* FS 3rd P - 16px */


    /* Tablet */

    /* [Resp]Padding inline (logo/title/1st P) - 39px */
    /* [Resp]Padding inline (orange card) unvalid */
    /* [Resp](Not in Mobile) Padding inline Black card - 33px */
    /* [Resp] Padding Top to Logo 62px */
    /* Padding Logo to Title 95px */
    /* Title to 1st P 28px */
    /* 1st P to Black Card - 249px */
    /* Black Card Height - 600px */
    /* Orange Card - Top Padding 48px */
    /* Orange Card side Padding - 48px */
    /* Orange Card - Title to 2nd P - 12px */
    /* Orange Card - 2nd P to Price - 36px */
    /* Orange Card - Price to IOS button - 32px */
    /* Orange Card - IOS to Android Button - 16px */
    /* Button - Text to Logo - 8px */
    /* Button - Padding top/bottom 15px */
    /* Button to Orange Card bottom - 48px */
    /* Orange(Black Card) Card to Bottom Logo - 183px */
    /* Bottom Logo to 3rd P -  32px */
    /* 3rd P to SocMedia -  Layout Switch */
    /* SocMedia to Bottom - Layout Switch */
    /* 3rd P to Bottom -  85px */

    /* [Resp] FS Title - 64px */
    /* [Resp] FS 1st P -  18px */
    /* FS Orange Card Title - 32px */
    /* FS 2nd P - 18px */
    /* FS Span - 65px */
    /* FS "month" - 20px */
    /* FS Button - 18px */
    /* FS 3rd P - 16px */

    /* Mobile */

    /* [Resp] Padding inline (logo/title/1st P) - 24px */
    /* [Resp] Padding inline (orange card) 36px */
    /* [Resp] Padding Top to Logo 40px */
    /* [Resp] Padding Logo to Title 64px */
    /* Title to 1st P 20px */
    /* 1st P to Black Card - 166px */
    /* Black Card Height - 600px */
    /* Orange Card - Top Padding 48px */
    /* Orange Card side Padding - 36px */
    /* Orange Card - Title to 2nd P - 12px */
    /* Orange Card - 2nd P to Price - 36px */
    /* Orange Card - Price to IOS button - 32px */
    /* Orange Card - IOS to Android Button - 16px */
    /* Button - Text to Logo - 8px */
    /* Button - Padding top/bottom 15px */
    /* Button to Orange Card bottom - 48px */
    /* Orange Card to Bottom Logo - 64px */
    /* Bottom Logo to 3rd P -  32px */
    /* 3rd P to SocMedia -  64px */
    /* SocMedia to Bottom - 80px */

    /* FS Title - 40px */
    /* FS 1st P -  16px */
    /* FS Orange Card Title - 32px */
    /* FS 2nd P - 18px */
    /* FS Span - 65px */
    /* FS "month" - 20px */
    /* FS Button - 18px */
    /* FS 3rd P - 16px */


}

body {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
}

.hero {
    padding-inline: var(--hero-pading-inline-responsive);
}

.logo {
    padding-top: var(--logo-padding-top-responsive);
    padding-bottom: var(--logo-padding-bottom-responsive);
}

.hero_title {
    font-size: var(--fs-tittle-responsive);
    font-weight: var(--fw-bold);
    line-height: 48px;
    letter-spacing: -0.455px;
    padding-bottom: var(--title-padding-bottom-responsive);

}

.hero_p {
    font-size: var(--fs-hero-p-responsive);
    padding-bottom: var(--hero-p-padding-bottom-responsive);
}

.promo {
    background-color: hsla(var(--clr-hsl-black), 1);
    width: 375px;
    /* edit later */
    height: 600px;
    border-radius: var(--brd-radius);
    background-image: var(--promo-bg-responsove);
    background-repeat: no-repeat;
    background-position: top;

}

.promo_app {
    max-width: 60%;
    /* aspect-ratio: 16/9; */
    margin-left: 80px;
    transform: translateY(-98px);
}

.promo_box {
    transform: translateY(-40px);
    background-color: hsla(var(--clr-hsl-orange), 1);
    border-radius: var(--brd-radius);
    display: grid;
    gap: 0.5rem;
    padding-inline: 36px;
    padding-block: 48px;

    color: hsla(var(--clr-hsl-white), 1);

}

.promo_title {
    font-size: var(--fs-promo-title-responsive);
    font-weight: var(--fw-bold);
    padding-bottom: var(--promo-title-padding-bottom-responsive);
}

.promo_p {
    font-size: var(--fs-promo-p-responsive);
    padding-bottom: var(--promo-p-padding-bottom-responsive);
}

.promo_price {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

span {
    font-size: 64px;
    font-weight: var(--fw-bold);
}